*, ::after, ::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
button {
  align-items: center;
  background-color: #fff;
  border-color: #8491a3;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  color: #363636;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: calc(.375em - 1px);
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
}
p {
  margin-top: 0;
}
.burger__icon {
  color: #676767;
  cursor: pointer;
}
.event-list {
  padding: 10px;
}
.green {
  background-color: #35b54c;
}
